<div class="row px-0">
	<div class="row py-2 px-2 ml-0">
		<div class="col-sm-2">
			<h4>Задача <a href="/task_{{ task.id }}" class="text-secondary">
						{{ task.id }}</a></h4>
		</div>
		<div class="col-sm-1">
			Категории:
		</div>
		<div class="col-sm-3">
			{% for category in task.categories %}
			<a href="/problems/?theme={{ category.id_theme.id }}&category={{ category.id_category.id }}"
			 class="text-secondary">
				{{ category }}</a><br/>
			{% endfor %}
		</div>

		<div class="col-sm-4">
			{% if task.id_type %}
				Тип: {{ task.id_type }}
			<br/>
			{% endif %}
			{% if task.dubles %}
				{% if task.id == task.id_orig %}
					У задачи есть <a href="/task_{{ task.id }}">дубли</a>
				{% else %}
					Оригинал: <a href="/task_{{ task.id_orig }}">{{ task.id_orig }}</a>
				{% endif %}
			{% else %}
				У задачи нет дублей
			{% endif %}
		</div>

		<div class="col-sm-2">
			<a href="?into_cart={{ task.id }}#{{ task.id }}" class="text-success">
					Добавить в подборку</a>
			<br>
			<a href="/task_{{ task.id }}/edit" class="text-danger">
					Редактировать</a>
		</div>
	</div>
		<br/>
	<div class="row">
		<div class="col-sm-10">
			<h5>Условие</h5>
			<p/> {{ task.task }}
			{% if task.img_task %}
			<p/>Рисунок: <a href="{{ task.img_task }}" class="text-secondary">
			{{ task.img_task }}</a>
			{% endif %}
		</div>
		<div class="col-sm-2">
		{% if task.syllabuses %}
			Используется в:<br/>
			{% for syllabus in task.syllabuses %}
			<a href="/sets/{{ syllabus.id }}" class="text-secondary">{{ syllabus }}</a>
			<br/>
			{% endfor %}
		{% else %}
			Не используется в подборках
		{% endif %}
		</div>
	</div>

	<div class="row">
		<br/>
		<h5>Решение</h5>
		<p/> {{ task.solution }}
		{% if task.img_solution %}
		<p/>Рисунок: <a href="{{ task.img_solution }}" class="text-secondary">
		{{ task.img_solution }}</a>
		{% endif %}
	</div>
<hr/>
</div>