{% extends "problems/main.html" %}
{% block title %} Задачи {% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container bg-light">
<div class="componentbox">
	<div class="componentboxheader"> Фильтр </div>
	<div class="row" id="filter_box_contents" style="display:block">

		<form method="get" id="themeForm" data-categories-url="{% url 'ajax_load_categories' %}" novalidate class="form-group">
			{% csrf_token %}
			<div class="row">
				{% for field in FilterForm %}
					<div class="col-sm">
						{{ field|add_class:"form-control" }}
					</div>
				{% endfor %}
				<div class="col-sm">
					<button type="submit" class="btn btn-dark" style="background-color: #003f6e;">Показать</button>
				</div>
			</div>
		</form>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script>
		    $("#id_theme").change(function () {
		      var url = $("#themeForm").attr("data-categories-url");
		      var themeId = $("#id_theme").val();

		      $.ajax({
		        url: url,
		        data: {
		          'theme': themeId
		        },
		        success: function (data) {
		          $("#id_category").html(data);
		        }
		      });
		    });
		  </script>

	</div>
</div>
	<br/>
<div class="row">
	{% include 'problems/pagination.html' %}
</div>
<hr/> {% for problem in problems %}
	{% include 'problems/one_task_block.html' %}
	{% endfor %}
<div class="row">
{% include 'problems/pagination.html' %}
</div>
</div>{% endblock %}